<html ng-app="TodoList">
<head>
  <title>TODO List</title>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <!-- Angular.js -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-mocks.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <style type="text/css">
    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .todo-panel {
      padding: 15px;
    }

    .todo-item {
      height: 34px;
    }

    .todo-item.done .title{
      text-decoration: line-through;
    }
    .todo-item.important .title{
      font-weight: bold;
    }

    .todo-item .title-input {
      display: none;
    }
    .todo-item.edit-mode .title-input {
      display: inline;
    }
    .todo-item.edit-mode .title {
      display: none;
    }

    .dropdown {
      display: inline-block;
    }

    .todo-item .item-cbx {
      float: left;
      margin-right: 10px;
    }

    .todo-item .title-group {
      padding-top: 8px;
    }

    .todo-item .btn-group {
      display: none;
      float: right;
    }

    .todo-item:hover {
      background-color: #eeeeee;
    }

    .todo-item:hover .btn-group {
      display: block;
    }
  </style>
</head>

<body>
  <div class="container">
    <h2>TODO List</h2>
    <div ng-controller="TodoListController" class="row todo-panel panel panel-default">
      <div>
        <span>Sort by: </span>
        <dropdown items="sortDropDownList" value-change-cb="sortByChange"></dropdown>
      </div>
      <div>
        <input type="text" ng-model="newItemTitle">
        <button type="button" class="btn btn-default" ng-click="addClick()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
      </div>
      <todo-item ng-repeat="item in todoList | orderBy: sortOrder" item="item" remove-item-cb="removeItemCb" edit-item-cb="editItemCb"></todo-item>
    </div>
  </div>

  <script>
    var TodoList = angular.module('TodoList', ['ngMockE2E']);

    TodoList.controller('TodoListController', ['$scope', 'dataProvider', function($scope, dataProvider) {
      dataProvider.getTodoList().then(
        function (response) {
          $scope.todoList = response.data;
          $scope.sortOrderDropDown = 'title';
          $scope.sortOrder = 'title';
          $scope.sortDropDownList = [
            {
              value: 'title',
              text: 'Title'
            },
            {
              value: 'important',
              text: 'Important first'
            }
          ];
        }
      );

      $scope.$watch('sortOrderDropDown', function(newValue, oldValue) {
        switch (newValue) {
          case 'title':
            $scope.sortOrder = 'title';
            break;
          case 'important':
            $scope.sortOrder = ['-important', 'done'];
            break;
          default:
            $scope.sortOrder = 'title';
            break;
        }
      });

      // 'Add' button click handler
      $scope.addClick = function () {
        $scope.addItem($scope.newItemTitle);
        $scope.newItemTitle = '';
      };

      // Callback for changing sorting method
      $scope.sortByChange = function (newValue) {
        $scope.sortOrderDropDown = newValue;
      };

      // Adds new item
      //  newItemTitle - title for new item
      $scope.addItem = function (newItemTitle) {
        if (newItemTitle) {
          $scope.todoList.push({
            done: false,
            title: newItemTitle,
            important: false
          });
        }
        dataProvider.setTodoList($scope.todoList);
      };

      // Callback for removing items
      $scope.removeItemCb = function (item) {
        var index = $scope.todoList.indexOf(item);

        if (index > -1) {
          $scope.todoList.splice(index, 1);
        }
        dataProvider.setTodoList($scope.todoList);
      };

      // Callback for editing items
      $scope.editItemCb = function (item) {
        dataProvider.setTodoList($scope.todoList);
      };
    }]);

    TodoList.directive('todoItem', function() {
      return {
        template: '' +
          '<div ng-class="{done : item.done, important : item.important}" class="todo-item col-xs-12">' +
            '<div class="col-xs-7 title-group">' +
              '<input type="checkbox" ng-model="item.done" class="item-cbx">' +
              '<div ng-bind="item.title" class="title ellipsis"></div>' +
              '<input type="text" ng-blur="endEdit()" ng-keyup="keyup($event.keyCode)" ng-model="newTitle" class="title-input"></span>' +
            '</div>' + 
            '<div class="btn-group" role="group" aria-label="...">' +
              '<button type="button" class="btn btn-primary" ng-click="editItem()">' +
                '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>' +
                ' Edit' +
              '</button>' +
              '<button type="button" class="btn btn-warning" ng-click="toggleImportant()">' +
                '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>' +
                ' Important' +
              '</button>' +
              '<button type="button" class="btn btn-danger" ng-click="removeItem()"ng-disabled="!item.done">' +
                '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>' +
                ' Remove' +
              '</button>' +
            '</div>' +
          '</div>',
        restrict: 'E',
        replace: true,
        scope: {
          item: '=',
          editItemCb: '=',
          removeItemCb: '='
        },
        link: function (scope, element) {
          // Key up handler
          scope.keyup = function (keyCode) {
            if (keyCode === 13) {
              element.removeClass('edit-mode');
              scope.item.title = scope.newTitle;
            } else if (keyCode === 27) {
              element.removeClass('edit-mode');
              scope.newTitle = scope.item.title;
            }
          };

          // Save or discard changes in the title
          scope.endEdit = function () {
            if (scope.newTitle.length > 0) {
              scope.item.title = scope.newTitle;
            }
            element.removeClass('edit-mode');
            if (typeof scope.editItemCb === 'function') {
              scope.editItemCb(scope.item);
            }
          };

          // Create text input for title
          scope.editItem = function () {
            scope.newTitle = scope.item.title;
            element.addClass('edit-mode');
            element[0].querySelector('.title-input').focus();
          };

          // Mark/unmark item as important
          scope.toggleImportant = function () {
            scope.item.important = !scope.item.important;
          };

          // Remove item from the list
          scope.removeItem = function () {
            if (typeof scope.removeItemCb === 'function') {
              scope.removeItemCb(scope.item);
            }
          };

          scope.$watchGroup(['item.done', 'item.important'], function(newValue, oldValue) {
            if (typeof scope.editItemCb === 'function') {
              scope.editItemCb(scope.item);
            }
          });
        }
      };
    });

    TodoList.directive('dropdown', function() {
      return {
        template: '' +
          '<div class="dropdown">' +
            '<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">' +
              '{{currentValue}} ' +
              '<span class="caret"></span>' +
            '</button>' +
            '<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">' +
              '<li ng-repeat="item in items" role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="itemClick(item.value)" ng-bind="item.text"></a></li>' +
            '</ul>' +
          '</div>',
        restrict: 'E',
        replace: true,
        scope: {
          items: '=',
          valueChangeCb: '='
        },
        link: function (scope, element) {
          scope.$watch('items', function (newValue, oldValue) {
            if (scope.items && scope.items.length > 0) {
              scope.currentValue = scope.items[0].text;
            }
          });

          // Item click handler
          scope.itemClick = function (value) {
            scope.currentValue = value;
            scope.valueChangeCb(value);
          };
        }
      };
    });

    TodoList.provider('dataProvider', function() {
      this.$get = function($http) {
        return {
          // Return all TODOs
          getTodoList: function() {
            return $http({
              method: 'GET',
              url: '/todos',
              cache: false
            });
          },
          // Save all TODOs
          setTodoList: function(list) {
            return $http({
              method: 'POST',
              url: '/todos',
              cache: false,
              data: list
            });
          }
        };
      };
    });

    // Mocks
    TodoList.run(function($httpBackend) {
      TODOs = [
        {
          done: false,
          title: "A List item title 1",
          important: false
        },
        {
          done: true,
          title: "C List item title 2",
          important: true
        },
        {
          done: false,
          title: "B List item title 3",
          important: false
        },
        {
          done: false,
          title: "Z List item title 4",
          important: false
        },
        {
          done: false,
          title: "List item title 5",
          important: false
        }
      ];

      // returns the current list of TODOs
      $httpBackend.whenGET('/todos').respond(TODOs);

      $httpBackend.whenPOST('/todos').respond(function(method, url, data) {
        var newTodos = angular.fromJson(data);
        TODOs = newTodos;
        return [200, newTodos, {}];
      });

      $httpBackend.whenGET(/^\/templates\//).passThrough();
    });
  </script>
</body>
</html>